body{
  font-family: 'Arial';
  font-size: 12px;
}
main{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  width: 500px;
  background: #f0f0f0;
  padding: 15px 15px 10px 15px;
  border-radius: 15px;

  h1{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;

    li{
      display: inline-block;
      background: #555;
      color: white;
      padding: 3px 5px 3px 10px;
      border-radius: 15px;
      margin-right: 5px;
      margin-bottom: 5px;

      a{
        color: white;
        text-decoration: none;
        margin-left: 5px;
        font-size: 10px;
        background: #333;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover{
          color: red;
        }
      }
    }
  }

  input{
    border: 0px;
    background: none;
    margin-bottom: 5px;
    display: inline-block;
  }
}